<% include common/_header %>

  <body class="container">


<h1>Hello World</h1>
    <form method="post" action="/login" class="form-group">
    <label>ユーザー名</label>
      <input type="text" class="form-control" name="user">
      <label>パスワード</label>
      <input type="text" class="form-control" name="password">
      <input type="submit" class="btn btn-primary pull-right" value="送信">
    </form>



<% include common/_footer %>
